<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{https://code.jquery.com/jquery-1.12.4.min.js}"></script>
</head>
<body>
<p style="text-align: center">
    회원가입 화면입니다.
</p>
<hr>
<!--<form action="/members/new" method="post">-->
<table>
    <tr>
        <td>이름</td>
        <td><input type="text" th:name="name"></td>
    </tr>

    <tr>
        <td>아이디</td>
        <td><input type="text" id="loginId" th:name="loginId"></td>
        <td><label id="BtnLoginIdCheck">중복확인</label></td>
    </tr>

    <tr>
        <td>비밀번호</td>
        <td><input type="password" th:name="password"></td>
    </tr>

    <tr>
        <td>이메일</td>
        <td><input type="text" th:name="email"></td>
    </tr>
    <tr>
        <td>생년월일</td>
        <td><input type="date" th:name="birthDay"></td>
    </tr>
    <tr>
        <td>직급</td>
        <td>
            <select name="salaryType" th:name="position">
                <option value="">선택</option>
                <option th:value="STAFF">사원</option>
                <option th:value="SENIORSTAFF">주임</option>
                <option th:value="ASSISTANTMANAGER">대리</option>
                <option th:value="MANAGER">과장</option>
                <option th:value="DEPUTYGENERALMANAGER">차장</option>
                <option th:value="GENERALMANAGER">부장</option>
                <option th:value="DIRECTOR">이사</option>
                <option th:value="VICEPRESIDENT">부사장</option>
                <option th:value="CEO">사장</option>
            </select>
        </td>

<!--        <td><input type="text" th:name="position"></td>-->
    </tr>
</table>
    <button type="submit">작성완료</button>
<!--</form>-->
</body>
<script>
    window.onload = function() {
        document.querySelector("#BtnLoginIdCheck").addEventListener('click',()=>{
            event.preventDefault();
            console.log("클릭!")
            let loginId = document.getElementById('loginId').value;

            console.log(loginId)
            $.ajax({
                // headers : {
                //     "Accept" : "application/text",
                //     "Content-Type" : "application/text"
                // },
                url : "/members/LoginIdDuplicate",
                type : "post",
                data : loginId,
                dataType : "text",
                success : (data)=>{
                    console.log("안녕!!")
                    if (data == 0) {
                        // 중복된 아이디가 아닐경우
                        console.log("안녕1!!")
                        alert("사용가능한 아이디 입니다.");
                    } else {
                        console.log(data)
                        console.log("안녕2!!")
                        alert("중복된 아이디 입니다.");
                    }
                },
                error : function(request, status, error) {
                    alert("code:" + request.status + "\n" + "error:" + error);
                }
            });
        })
    }
</script>
</html>