<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p style="text-align: center">
  !!일반사용자홈페이지!!
</p>
<hr>
<form action="/members/logout" method="post">
  <button type="submit">로그아웃</button>
</form>
<form action="/members/myPage" method="get">
  <input type="hidden" th:value="${member.getLoginId()}" name="loginId">
<!--  <button onclick="location.href='/members/myPage'">마이페이지</button>-->
  <button type="submit">마이페이지</button>
</form>
<button onclick="location.href='products/member/list'">상품리스트보기</button>
<th:block th:if="${member.memberType.getDbValue().equals('판매자')}">
<form action="/products/seller/sellerPage" method="get">
  <input type="hidden" th:value="${member.getMemberCode()}" name="memberCode">
  <button type="submit">상품관리</button>
</form>
</th:block>
</body>
</html>