<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품상세페이지</title>
</head>
<body>
<p style="text-align: center">
    !!상품상세페이지!!
</p>
<hr>
<form action="/orders/newOrder" method="post">
    <table>
        <tr><img th:src="@{product.filePath}"/></tr>
        <tr>
            <td>상품명</td><td><input type="text" readonly th:value="${product.name}" name="name"></td>
        </tr>
        <tr>
            <td>상품가격</td><td><input type="text" readonly th:value="${product.price}"  name="price"></td>
        </tr>
        <tr>
            <td>상품수량</td><td><input type="text" name="quantity"></td>
        </tr>
    </table>
    <input type="text" name="description" th:value="${product.description}" size="100" height="100"><br><br>

    <button type="submit">상품구매하기</button>
</form>

</body>

<script>

</script>
</html>